// contient le style a afficher pour le format tablet et desktop

// contient le style a afficher pour le format tablet et desktop

body{
  // affiche le bandeau du profiler de symfony en bleu sombre
  .sf-toolbarreset{
    background-color: rosybrown;
  }
  div{
    background-color:whitesmoke;
  }
  h1 {
    text-align: center; /* centré */
    font-size: 30px;
    color: black;
    
    } 
    img {
      width: 100px;
      height: 100px;
      float:right;
    } 
    
  p{
    color:black;
}
}
// ce style est egalement defini dans le fichier ./public/build