// contient le style a afficher pour le format desktop
// comme le style définit ici est chargé après le fichier de style tablet/global.scss, alors
// les règles dans ce fichier (desktop/global.scss) surcharge celles définit dans tablet/global.scss

body{
  // affiche le bandeau du profiler de symfony en vert sombre
  // je surcharge la règle '.sf-toolbarreset' définit dans 'tablet/global.scss'
  .sf-toolbarreset{
    background-color: transparent;
  
  }
  
}

div{
  background-color: aqua;
}

h1{
  background-color: darkslateblue;
    text-align: center; 
  }
  h2{
    text-align: center;
  }
  h3{
    text-align: center;
  }
    
  

p{
  color: blueviolet;
}

p{
background-color:white;
border:1px;border:1px solid black;
}
